.page-header-voltar{
    height: 8rem;
    display: flex;
    background-color: #060537;
}

.page-header-voltar .top-header-batidas{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
}

.page-header-voltar .top-header-batidas a{
    color: aliceblue;
    text-decoration: none;
}


.page-header .top-header-batidas a:hover{
    opacity: 0.6;
}

/*Pega a imagem que está no mesmo nivel que link, por exempo, ou seja que está apenas no
primeiro nível do .top-bar-container*/
.page-header .top-bar-container > img{
   
}

.page-header .header-content p{
    /* Quebrar a linha */
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}




@media(max-width: 700px){
    .page-header{
        width: 100vw;
        height: 400px;
    }

    .page-header .top-bar-container{
        max-width: 700px;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .page-header .header-content{
        flex: 1;
        max-width: 740px;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .page-header .header-content strong {
        /* Poder quebrar a linha do strong */
        max-width: 350px;
        
    }
}


