#page-landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;


    color: aliceblue;
    background:#060537;

}

.text-container img{
    height: 10rem;
    
}
.text-container{
    text-align: center;
    margin-bottom: 3.2rem;
}

.text-container h2{
    text-align: initial;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.6rem;
    margin-top: 8rem;
}

.buttons-container a {



}

.button-home-login{
    justify-content: center;
    margin: 3.2rem 0;
}

.button-home-login a {
    height: 3rem;
    width: 10rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    text-decoration: none;
    background-color: #A76502;
    transition: background-color 0.2s;
    font-size: 1rem;  
    font-weight: 700;
    color: aliceblue;
}

.button-home-login a:hover{
    color: #060537;
    background-color: #D88B15;
}

.hero-image {
    width: 90%;
}

.button-home-register{
    justify-content: center;
    margin: 3.2rem 0;
}

.button-home-register a{
    height: 3rem;
    width: 10rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    text-decoration: none;
    font-size: 1rem;  
    font-weight: 700;
    color: #A76502;
    border: 3px solid #A76502;
    /* Transição para mudança da cor da letra */
    transition: color 0.2s;
    transition: border 0.2s;

}

.button-home-register a:hover{
    color: aliceblue;
    border: 3px solid aliceblue;

}

.buttons-container a:first-child{
    margin-right: 1.6rem;
}

.buttons-container a.info {
    border: 3px solid var(--color-button-text);
    /* Transição para mudança da cor da letra */
    transition: color 0.2s;
}

.buttons-container a.info:hover {    
    color: black;
}

.buttons-container a.login-button {
    background: var(--color-button-text);
    color: black;
}

.buttons-container a.login-button:hover {
    background: #ffb897;        
}

.total-connections {
    font-size: 1.4rem;
    display: flex;

    align-items: center;
    justify-content: center;

}

.total-connections img {
    margin-left: 0.8rem;
}

    #page-landing-content{
        max-width: 1100px;
        
        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
            "logo hero hero"
            "buttons buttons total"
        ;
    }

    .logo-container{
        grid-area: logo;
        align-self: center;
        margin: 0;
        text-align: left;
    }

    .logo-container img {
        height: 100%;
    }

    .hero-image{
        grid-area: hero;
        justify-self: end;
    }
    .buttons-container{
        grid-area: buttons;
        justify-content: flex-start;
    }

    .total-connections {
        grid-area: total;
        justify-self: end;
    }
