.App {
  text-align: center;
}

.navbar-default{
  background-color: #060537;
}

a.nav-link{
  color: aliceblue;
}

.nav-icons{
  margin-left: 30rem;
}

a.navbar-brand{
  color: aliceblue;
  margin-right: 20rem;
}

.container{
  width: 100vw;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    border-radius: 200px;
    width: 12rem;
    height: 50%;
    margin-right: 5rem;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 700px) {

  a.nav-link{
    color: aliceblue;
    display: grid;
  }
  
}
